---
Language:       Cpp
BasedOnStyle:   Google
IndentWidth:    4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false

BinPackArguments: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AlignConsecutiveAssignments: true
# This is good except it looks bad in function declarations.
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
BreakConstructorInitializers: BeforeComma
AlignTrailingComments: true

DerivePointerAlignment: false
PointerAlignment: Middle

# For now, TODO: switch to Regroup
IncludeBlocks:   Preserve

...
